<p id="notice"><%= notice %></p>

<h1>最近の記事</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>本文</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>

        <td><%= link_to "Show", article %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
